.annonces-main-content {
    column-gap: 24px;
    display: flex;
    padding: 16px 24px 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.annonces-leftPanel {
    flex: 1;
    max-width: 648px;
    padding: 0 0 9px!important;
    width: 410px;
    max-height: 410px;
    float: left;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.mosaic-annonces ul.jobsearch-ResultsList {
    margin: 0;
    padding: 0;
    list-style: none;
}

.mosaic-annonces .slider_container {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, .08);
    border: 1px solid #ff914d;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
}

.annonces-main-content .annonces-rightPanel .rightDisplay {
    border: 0.0625rem solid #d4d2d0;
    border-radius: 0.5rem;
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    overflow: hidden;
    text-align: initial;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.annonces-main-content .annonces-rightPanel .rightDisplay span {
    margin-bottom: 5px;
}

.rightDisplay {
    flex: 1;
    border: 0.0625rem solid #d4d2d0;
    border-radius: 0.5rem;
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    overflow: hidden;
    text-align: initial;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 410px;
    justify-content: center;
    min-height: 175px;
}

.attributs_demande {
    display: flex;
    flex-direction: column;
}

.rightDisplay span {
    margin-bottom: 5px;
}

.hidden {
    display: none;
}

.title {
    margin-top: 1%;
    margin-bottom: 1%;
}

.edit-button {
    background-color: #4285f4;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.save-button {
    background-color: #0f9d58;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.view-more {
    background-color: #fbbc05;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

textarea {
    width: 98%;
    height: 100px;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.mark-interested-btn {
    background-color: #4285f4;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

#filterForm {
    display: flex;
    gap: 10px;
    margin-left: 30px;
    margin-top:20px;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049;
}