body {
    font-family: Arial, sans-serif;
}

#drop_zone1, #drop_zone2, #drop_zone3 {
    width: 400px;
    height: 200px;
    border: 2px dashed #008CBA;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    background-color: #F2F2F2;
    color: #666666;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: border 0.3s ease-in-out;
}

#drop_zone1:hover, #drop_zone2:hover, #drop_zone3:hover {
    border-color: #4CAF50;
}

#drop_zone1::after, #drop_zone2::after, #drop_zone3::after {
    display: block;
    margin-top: 10px;
    color: #888888;
    font-size: 14px;
}

#file_icon1, #file_icon2, #file_icon3 {
    display: none;
    margin-bottom: 10px;
}

input[type="button"] {
    background-color: #008CBA; /* Blue*/
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}

input[type="button"]:hover {
    background-color: #4CAF50; /*Green */
    color: white;
}
