body {
    font-family: Arial, sans-serif;
}

#drop_zone {
    width: 400px;
    height: 400px;
    border: 2px dashed #008CBA;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    background-color: #F2F2F2;
    color: #666666;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: border 0.3s ease-in-out;
}

#drop_zone:hover {
    border-color: #4CAF50;
}

#drop_zone::after {
    display: block;
    margin-top: 10px;
    color: #888888;
    font-size: 14px;
}

#file_icon {
    display: none;
    margin-bottom: 10px;
}


#drop_zone::after {
    display: block;
    margin-top: 10px;
}

#file_icon {
    display: none;
    margin-bottom: 10px;
}

input[type="button"] {
    background-color: #008CBA; /* Blue */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}

input[type="button"]:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}
