/* Styles pour le formulaire de connexion */

#login-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#login-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

#login-form label {
    display: block;
    margin-bottom: 10px;
}

#login-form input[type="email"],
#login-form input[type="password"] {
    width: 95%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
}

#login-form input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#login-form input[type="submit"]:hover {
    background-color: #45a049;
}


/* Autres styles spécifiques à la page de connexion */


/* Ajoutez vos styles personnalisés ici */